<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @feed.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @feed.comment %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
