<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @newsfeed.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @newsfeed.url %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @newsfeed.comment %>
</p>

<%= link_to 'Edit', edit_newsfeed_path(@newsfeed) %> |
<%= link_to 'Back', newsfeeds_path %>
