<b> Request from <%=@rip %> </b>
<b> <%=@page.name %> 
	<%=@page.parent.name if @page.parent.nil? == false %>
 </b>
<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, size: "60x24"  %>
  </div>
  <div class="field">
    <%= f.label :parent_id %>
    <%= f.collection_select :parent_id, Page.order(:name) ,:id ,:name ,:include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :icon %>
    <%= f.select :icon, @images %>
 </div>
 <div class="field">
   <%= f.label :sec_icon %><br>
   <%= f.select :sec_icon, @images %>
</div>
    <div class="field">
      <%= f.label :mappable %>
      <%= f.check_box :mappable %>
  	</div>
    <div class="field">
      <%= f.label :searchable %>
      <%= f.check_box :searchable %>
  	</div>
    <div class="field">
      <%= f.label :searchType %>
      <%= f.text_field :searchType%>
  	</div>
    <div class="field">
      <%= f.label :keywords %>
      <%= f.text_field :keywords%>
  	</div>
    <div class="field">
      <%= f.label :isrootview %>
      <%= f.check_box :isrootview %>
  	</div>
    <div class="field">
      <%= f.label :rssable %>
      <%= f.check_box :rssable %>
  	</div>
    <div class="field">
      <%= f.label :istransit %>
      <%= f.check_box :istransit %>
  	</div>
    <div class="field">
      <%= f.label :is_banner_item %>
      <%= f.check_box :is_banner_item %>
  	</div>
     <div class="field">
       <%= f.label :loopImage %>
       <%= f.select :loopImage, @loops ,:include_blank => true%>
    </div>
   
    <div class="field">
      <%= f.label :ad_banner_id %>
      <%= f.collection_select :ad_banner_id, AdBanner.order(:name) ,:id ,:name ,:include_blank => "Please SElect" %>
    </div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
