<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="/app/assetsjavascripts/masonry.pkgd.min.js"></script>
<style>
.item {
  width: 220px;
  margin: 10px;
  float: center;
  border: 1;
  margin: 5px;
    padding: 5px;
    background: #D8D5D2;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
</style>
<script> 
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240,
	isAnimated: true,
	animationOptions: {
	    duration: 750,
	    easing: 'linear',
	    queue: false
	  }
  });
});
</script>

<% content_for :title, @page.name %>
<ul id="menu">
<% Page.roots.each do |page| %>
<% if page.icon.nil? %>
<li> <%= link_to page.name, page, class: ("active" if @page.root==page) %></li>
	<% else %>
<!--li> <%= link_to (image_tag "icons/#{page.icon.split('/').last}", :size =>"40x40"), page %></li-->
	<li> <%= link_to page.name, page, class: ("active" if @page.root==page) %></li>
	<% end %>
	<% end%>
</ul>
<!--div id="submenu">
<%= render 'submenu_pages', pages: @page.root.descendants.arrange %>
</div-->

<div id="breadcrumbs">
	<% @page.ancestors.each do |page| %>
	<b><%= link_to page.name , page %></b> &gt;
	<% end %>
</div>
<p id="notice"><%= notice %></p>

<h1>  <%= @page.name %> </h1>

<% if @page.children.count > 0 %>
<b>There are children found <%= @page.children.count%> </b>
<div id="container">
<% @page.children.each do |pchild|%>
<% if pchild.icon.nil? %>
<div class="item"> <%= link_to pchild.name, pchild, class: ("active" if pchild.root==pchild) %></div>
<%else%>
<div class="item"><%= link_to (image_tag "icons/#{pchild.icon.split('/').last}", :size =>"160x160") ,pchild %></div>
<%end%>
<% end %>
</div>
<% elsif @page.mappable?%>
<b>Will be mapping things here with base location = <%=@rip%></b>
<% elsif @page.searchable?%>
<b>Will be searching things here withbase location = <%=@rip%> <%= @page.keywords %></b>
<% else %>
<b>Not mappable, not searchable just print the content </b>
<%= simple_format @page.content %>
<% end %>

<!--p>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
</p-->
